img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-page {
  display: flex;
  padding: 200px 0px;
}